<!DOCTYPE html>
<html lang="en"></html>
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body>

    <header>
      <div class="header_title">
        <h1>Book App</h1>
      </div>
      
      <div class="page">
        <h2>Details Page</h2>
      </div>  
    </header>

    <main>
      <%- include('detail') %>
    </main>

    <footer></footer>    
  </body>
</html>
