<!DOCTYPE html>

<head>
  <title>Search</title>
</head>

<body>

  <form>
    <div>
      <input name="search_query" type="text" placeholder="search">
    </div>

    <div>
      <input type="radio" name="title" value="title"> Title
    </div>

    <div>
      <input type="radio" name="author" value="author"> Author
    </div>

    <div>
      <button type="submit">Search the Google Books API</button>
    </div>
  </form>

</body>

</html>