<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../../layout/header') %>
    </header>

    <main>
      <form method="post" action="/searches">
        <div class="search_queryBox">
          <input class="search_query" name="search_query" type="text" placeholder="Search title or author" required="required" />
        </div>
        <div class="title">
          Title
          <input type="radio" name="title_author" value="intitle" required="required" />
        </div>
        <div class="author">
          Author
          <input type="radio" name="title_author" value="inauthor" required="required" />
        </div>
        <div class="button">
          <button class="search_submit" type="submit">Search Google Books</button>
        </div>
      </form>
    </main>
  </body>
  <footer></footer>
</html>
