<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body>
    <header>
      <div class="header_title">
        <h1>Book App</h1>
      </div>

      <div class="page">
        <h1>Search by Title or Author</h1>
      </div>
    </header>

    <form method="post" action="/searches">
      <div class="search_queryBox">
        <input class="search_query" name="search_query" type="text" placeholder="Search title or author" required="required" />
      </div>
      <div class="title">
        Title
        <input type="radio" name="title_author" value="intitle" required="required" />
      </div>
      <div class="author">
        Author
        <input type="radio" name="title_author" value="inauthor" required="required" />
      </div>
      <div class="button">
        <button class="search_submit" type="submit">Search Google Books</button>
      </div>
    </form>
  </body>

  <footer></footer>
</html>
