<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
  </head>
  <nav>
    <div>Best Books</div>
  </nav>
  <header>
    <div>Search by Title or Author</div>
  </header>
  <body>
    <form method="post" action='/searches'>
      <div class="search_queryBox">
        <input class="search_query" name="search_query" type="text" placeholder="search">
      </div>
      <div class="title">
        Title<input type="radio" name="title_author" value="intitle">
      </div>
      <div class="author">
        Author<input type="radio" name="title_author" value="inauthor">
      </div>
      <div class="button">
        <button class="search_submit" type="submit">Search Google Books API</button>
      </div>
    </form>
  </body>
  <footer></footer>
</html>
