<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Error</title>
    </head>
    <nav>
        <div>Error 404</div>
    </nav>
      <header>
        <div> <% errMessage %> </div>
      </header>
    <body>
    </body>
    <footer></footer>
</html>
