<!DOCTYPE html>
<html lang="en"></html>
  <head>
    <title>Book App</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
  </head>
  <nav>
    <div>Book App</div>
  </nav>
  <header>
    <div>Search view and save your favorite books!</div>
  </header>
  <body></body>
  <footer></footer>
</html>