body {
  box-sizing: border-box;
  background-color: gray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.header_title {
  background-color: black;
  color: white;
  height: 80px;
}

.page {
  background-color: rgb(87, 86, 86);
  color: white;
  height: 70px;
}

.dropdown_menu {
  background-color: rgb(114, 114, 114);
  height: 70px;
  margin-top: -12px;
  padding-top: 0px;
}

main {
  margin-top: 240px;
  margin-bottom: 100px;
}

.search_query, .title, .author {
  height: 75px;
  font-size: 25px;
  line-height: 75px;
  margin: 20px auto;
  text-indent: 10px;
  width: 60%;
}

.title, .author {
  background-color: rgb(170, 169, 169);
  color: rgb(51, 51, 51);
  text-align: left;
}

.button {
  margin: 20px auto;
  width: 60%;
}

.details_button {
  width: 70%;
}

button, .search_query {
  background-color: black;
  color: white;
  font-size: 25px;
  height: 75px;
  margin: auto;
  width: 100%;
}

.search_queryBox {
  margin: 10px auto;
  width: 60%;
}

.search_query, .search_query::placeholder {
  background-color: white;
  border: 0px;
  padding: 0px;
  width: 100%;
  color: rgb(51, 51, 51)
}

footer {
  background-color: black;
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* ---------show */

section {
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
  margin: 20px auto;
  background-color: rgb(193, 193, 193);
  padding: 20px 10px;
}

p {
  width: 70%;
  height: 50px;
  overflow: scroll;
  margin: 20px auto;
}

.img {
  text-align: center;
  margin: 20px auto;
}

h1 {
  font-size: 40px;
  padding-top: 20px;
}

h2 {
  font-size: 30px;
  padding-top: 15px;
}

h3 {
  font-size: 24px;
  margin: 12px;
  color: white;
}

h4 {
  font-size: 20px;
  margin: 8px;
}

h5 {
  font-size: 16px;
  margin: 8px;
}