body {
  box-sizing: border-box;
  background-color: gray;
  text-align: center;
}

header {
  width: 100%;
}

.header_title {
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 45px;
  height: 80px;
  line-height: 100px;
}

.page {
  background-color: rgb(87, 86, 86);
  color: white;
  margin-bottom: 20px;
  height: 40px;
  font-size: 30px;
  padding-top: 15px;
}

/* .header {
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 45px;
  height: 100px;
  line-height: 100px;
  margin-bottom: -20px;
  text-indent: 20px;
}

nav {
  background-color: rgb(87, 86, 86);
  color: white;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
} */

.search_query, .title, .author {
  height: 75px;
  font-size: 25px;
  line-height: 75px;
  margin: 20px auto;
  text-indent: 10px;
  width: 60%;
}

.title, .author {
  background-color: rgb(170, 169, 169);
  color: rgb(51, 51, 51);
  text-align: left;
}

.button {
  margin: 20px auto;
  width: 60%;
}

button, .search_query {
  background-color: black;
  color: white;
  font-size: 25px;
  height: 75px;
  margin: auto;
  width: 100%;
}

.search_queryBox {
  margin: 10px auto;
  width: 60%;
}

.search_query, .search_query::placeholder {
  background-color: white;
  border: 0px;
  padding: 0px;
  width: 100%;
  color: rgb(51, 51, 51)
}

footer {
  background-color: black;
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* ---------show */

section {
  border: 2px solid black;
  width: 60%;
  margin: 20px auto;
}

p {
  width: 60%;
  height: 50px;
  overflow: scroll;
  margin: 20px auto;
}

h2, h3, .img {
  text-align: center;
  margin: 20px auto;
}