<div class="header_title">
  <h1>Book App</h1>
</div>
<div class="page">
  <h2> <%=pgName%> </h2>
</div>
<div class="menu">Menu</div>
<div class="dropdown_menu">
  <h3><a href="/" <%=home%> >Home</a></h3>
  <h3><a href="/searchs/new" <%=searchNew%> >Search Google Books</a></h3>
</div>
